@media screen and (max-width:576px) {

    *{padding: 0;
    margin:0;
    }
    nav{
        flex-direction: column;
    }
    .nav-icon{
        padding: 0;
    }
    ul{
        flex-direction: column;
        padding: 0;
        align-items: center;
        padding-top: 20px;
    }
    /* hero */
    .hero-section{
        flex-direction: column;
    }
    .hero-pic, 
    .hero-des {
        padding: 0;
    }
    .hero-title2{
        font-size: 80px;
    }
    .hero-image img{
        width: 100%;
    }
    .hero-image{
        width: 100%;
    }
    .hero-des{
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .hero-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .video-box{
        flex-direction: column;
    }
    .video-box1{
        width: 100%;
    }
    .image-text{
        width: 100%;
    }
    .grid-box{
        display: grid;
    }
    .play-section{
        display: none;
    }
    .catagories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        padding: 0;
        width: auto;
    }
    .box-one{
        width: auto;
        padding-right: 10px;
        height: 100%;
        margin: 10px;
    }
    .box-one img{
        padding: 0;
        width: 40px;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-icon{
        padding: 55px 0;
    }
.footer-item{
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 45px;
    justify-content: center;
}
.social-icon{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.footer-item2{
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 45px;
    justify-content: center;
}
.copy-right{
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
    }
.female{
    display: none;
}
}